<robot name="robot_name">

    <link name="map">
    </link>

    <link name="defects">
        <visual>
            <origin rpy="0.0 0 0" xyz="0.0 0 0"/>
            <geometry>
                <mesh filename="file:///home/matteo/ros2_ws_git/src/display_with_rviz2/stl/defect_mesh_11mm.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
    </link>

    <joint name="defects_translation" type="fixed">
        <origin xyz="0 0 0" />
        <parent link="map"/>
        <child link="defects"/>
    </joint>

</robot>

